/*
 * Code and Quotes
 */

/*** TODO: factor out common styles for code and blockquote entities ***/
pre code, blockquote {
  margin: 0 0 26px 0;
  padding: 20px;
  border-left: solid 5px #DDD;
  @include box(1px);
  background-color: #F9F9F9;
}

pre code {
  display: block;
  width: 100%;
  color: #B6B6B6;
  overflow-x: auto;
}

@mixin code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 12px;
  font-weight: normal;
}

code.prettyprint ol {
  margin-bottom: 0;
}

code.prettyprint li {
  line-height: inherit;
  font-size: inherit;
}


/*
 * Blog Posts
 */
.blog-post {  
  .jump > p:first-of-type:first-letter  {
    font-size:340%; 
    margin:8px 0 -5px 0; 
    padding:0 .1em 0 0; 
    height:.7em; 
    line-height:.85em; 
    float:left; 
    color:#333; 
    font-weight: 400;
    *line-height:1em; /* IE7 Only */ 
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  p {
    font-size: 1.2em;
    line-height: 1.7em;
  }

  blockquote p {
    font-size: 1.05rem;
    font-family: $default-family;
  }
  
  blockquote p:last-child {
    margin-bottom: 0;
    font-family: $default-family;
  }
  
  code {
    @include full-width();
    ol {
      @include code();
    }
  }
  
  .full-width {
    @include full-width();
  }
  
  h1, h2, h3, h4, h5 {
    font-family: $serif-family;
    text-align: center;
    &.title {
      font-weight: bold;
    }
  }
}

.blog-post .date {
  font-family: $default-family;
  letter-spacing: 0.03rem;
  font-size: 1.0rem;
  text-align: center;
}

textarea#blog_post_jump {
  height: 150px;
}

textarea#blog_post_body {
  height: 300px;
}
