<div class="content-main">
  <% @blog_posts.reverse.each do |blog_post| %>
    <div class="blog-post">
      <h1 class="title">
        <%= link_to blog_post.title, blog_post %>
      </h1>
      <p class="date">
        Posted <%= prettydate(blog_post.created_at) %>
      </p>
      <div class="jump">
        <%= markdown(blog_post.jump) %>
      </div>
      <p>
        <%= link_to 'Continue Reading &rarr;'.html_safe, blog_post %>
      </p>
    </div>
  <% end %>  
</div>

