<div class="content-full">
  <% @blog_posts.reverse.each do |blog_post| %>
    <div class="blog-post">
      <h3 class="date right">
        <%= prettydate(blog_post.created_at) %>
      </h3>
      <h1 class="title">
        <%= link_to blog_post.title, blog_post %>
      </h1>
      <div class="content">
        <%= markdown(blog_post.content) %>
      </div>
    </div>
  <% end %>  
</div>


<%= link_to 'New Blog post', new_blog_post_path %>
