<div class="content-main blog-post">
  <h1 class="title">
    <%= @blog_post.title %>
  </h1>
  
  <p class="date">
    Posted <%= prettydate(@blog_post.created_at) %>
    <% if can? :update, @blog_post %>
      &middot; <%= link_to 'Edit', edit_blog_post_path(@blog_post) %>
    <% end %>
  </p>
  
  <div class="body">
    <%= markdown(@blog_post.body) %>
  </div>
</div>
