

table, th, td {
  background-color: #FFF;
  border: 1px solid #CCC;
  border-collapse: collapse;
}

th, td {
  padding: 0 4px;
  text-align: left;

  ul {
    font-size: 90%;

    li {
      margin-bottom: 0;
    }
  }
}