
table {
  margin-bottom: 16px;
}

table, th, td {
  background-color: #FFF;
  border: 1px solid #CCC;
  border-collapse: collapse;
}

th, td {
  padding: 0 4px;
  text-align: left;
  font-size: 90%;

  ul {
    li {
      margin-bottom: 0;
    }
  }
}