// Adding 'Contents' headline to the TOC
.toc::before {
  content: "Contents";
  font-weight: bold;
}


// Using numbers instead of bullets for listing
.toc ul {
  list-style: decimal;
}

.toc li {
  margin-bottom: 4px;
}

.toc {
  border: 1px solid #aaa;
  padding: 0.5em 1.5em;
  list-style: decimal;
  font-size: 90%;
  display: inline-block;
  margin: 0 0 16px 0;
}
