ul.toc::before {
  content: "Page contents";
  font-weight: bold;
}

ul.toc {
  font-size: 90%;
  border-top: 1px solid #aaa;
  padding: 0.5em 0;
  list-style: decimal;
  display: inline-block;
  margin: 32px 0 0 0;

  @include media-query($on-tablet) {
    margin: 16px 0 16px 0;
    border-bottom: 1px solid #aaa;
  }

  li {
    margin-bottom: 4px;
    margin-left: 1em;

    ul {
      margin-left: 0;
      list-style: none;
    }  
  }
}
