.post-content, .post-preview {
  text-align: justify;
}

blockquote {
  color: $grey-color-dark;
  border-left: 4px solid $grey-color-light;
  padding-left: calc($spacing-unit / 2);
  padding-right: calc($spacing-unit / 2);
  font-size: $base-font-size;
  letter-spacing: 0;
  font-style: italic;

  > :last-child {
      margin-bottom: 0;
  }
}

.label {
  font-size: 85%;
  font-style: italic;
}