<div class="content-main page">
  <h1 class="title">
    <% content_for(:title, @page.title) %>
    <%= @page.title %>    
  </h1>
  
  <% if can? :update, @page %>
    <p>
      <%= link_to 'Edit', edit_page_path(@page) %>
    </p>
  <% end %>

  <div class="content">
    <%= markdown(@page.content) %>
  </div>
</div>
