
/*
 * Box Shadows
 */
 
@mixin box($offset) {
  box-shadow: $offset $offset 6px rgba(127, 127, 127, 0.6);
}


/*
 * Top bar
 */

.top-bar-container {
  @include box(0);
}


/*
 * Layout
 */

html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape */
}

.container {
  @include grid-row();
}

.box {
    @include box(0);
    background-color: #FFF;
}

.content-full {
  @include grid-column(12);
}

.content-main {
  @media #{$small-only} {
    @include grid-column(12);
  }
  @media #{$medium-only} {
    @include grid-column(12);
  }
  @media #{$large-up} {
    @include grid-column(8);
  }
}

.content-sidebar {
  @include grid-column(4);
}

.callout-box {
  @include panel();
}

@mixin full-width {
  @media #{$large-up} {
    width: $row-width - $column-gutter;  
  }
}

footer {
/*
  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
  -webkit-column-gap: $column-gutter;
  -moz-column-gap: $column-gutter;
  column-gap: $column-gutter;
*/
  padding: $column-gutter $column-gutter / 2.0;
  
  p {
    font-size: 1.0rem;
    text-align: center;
  }
}


/*
 * Images
 */
$thumb-radius: 5px;

ul[data-clearing] {
  li {
    > a {
      @include thumb;
      @include radius;
    }
    margin-right: 0;
  }
  margin-bottom: 26px;
}


/*
 * Typography
 */
 
p, ul, ol {
  text-align: justify;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-weight: lighter;
  font-size: 1.1rem;
}

table {
  tbody {
    td, th {
      text-align: left;
    }
    tr:first-child th {
      text-align: center;
    }
    vertical-align: top;
    ul {
      font-size: 1rem;
      text-align: left;
    }
  }
}

table.equal-columns {
  tbody {
    td.small-column, th.small-column {
      width: 6rem;
    }
  }
  @media #{$large-up} {
    table-layout: fixed;
  }
}


/*
 * Alerts
 */
 
div.alert-box {
  margin: 0;
}


/*
 * Code and Quotes
 */

/*** TODO: factor out common styles for code and blockquote entities ***/
pre code, blockquote {
  margin: 0 0 26px 0;
  padding: 20px;
  border-left: solid 5px #DDD;
  @include box(1px);
  background-color: #F9F9F9;
}

pre code {
  display: block;
  width: 100%;
  color: #B6B6B6;
  overflow-x: auto;
}

@mixin code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 12px;
  font-weight: normal;
}

code.prettyprint ol {
  margin-bottom: 0;
}

code.prettyprint li {
  line-height: inherit;
  font-size: inherit;
}


/*
 * Blog Posts
 */

.blog-post {
  blockquote p {
    font-size: 1.05rem;
  }
  
  blockquote p:last-child {
    margin-bottom: 0;
  }
  
  code {
    @include full-width();
    ol {
      @include code();
    }
  }
  
  .full-width {
    @include full-width();
  }
}

.blog-post .date {
  font-variant: small-caps;
}

textarea#blog_post_jump {
  height: 150px;
}

textarea#blog_post_body {
  height: 300px;
}




/*
 * Inputs
 */
 
textarea.fixed-width {
  max-width: 100%;
}


/*
 * Actions
 */
 
.actions {
  float: right;
}


/*
 * Buttons
 */

.button.action {
  @include button-style($bg:$primary-color);
  
  border: solid 1px $primary-color;
}

.button.cancel { 
  @include button-style($bg:$secondary-color);
    
  border: solid 1px #CCC;
}


/*
 * Tabs
 */

.tabs-content > .content {
  // TODO: there may be a better way to achieve this, but it's to ensure that
  // content doesn't widen to the width of the code block on smaller screens
  width: 100%;
}

.tabs {
  border-bottom: 1px solid $tabs-navigation-border-color;
}

.tabs dd {
  margin-bottom: -1px !important;;
}

.tabs dd a {
  margin-right: 2px;
  color: $anchor-font-color;
  
  @media #{$small-only} {
    padding: 5px 10px;
  }
}

.tabs dd.active a {
  border: 1px solid $tabs-navigation-border-color;
  border-bottom-color: transparent;
  color: $tabs-navigation-font-color;
}


